aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bs4
cloudscraper
deepai
dnspython
emojis
ffmpeg-python
Faker
future==1.0.0
git+https://github.com/AsmSafone/SafoneAPI
gitpython
gtts
hachoir
heroku3
httpx
img2pdf
instaloader
lexica-api
motor 
numpy<2.0.0
openai==0.28.0
opencv-python
pillow==9.5.0
psutil
pickledb
pycryptodome
pydub
pyfiglet
pykeyboard
pyrofork
python-dotenv
python-whois
pyshorteners
pyttsx3
pytz
pytube
py-tgcalls==0.9.7
pyyaml==6.0.1
qrcode
requests
SafoneAPI
search_engine_parser
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp
py_yt_search
youtube-search
youtube-search-python
flask
